/prosd/conf.py
/prosd/conf.ini
/example_data/bvwp_data/
/example_data/betriebsstellen_rohdaten/
/example_data/d-takt/
/example_data/vzg/
/prosd/log/
/example_data/bvwp_data/
/example_data/bvwp_to_project/
/example_data/constituencies/
/example_data/counties/
/example_data/monorail/
/example_data/monorail_2/
/example_data/railgraph/
/example_data/db_tmp_backup/
/example_data/streckennetz_rohdaten/
/example_data/test_save_and_load/
/example_data/railgraph_test/

/example_data/import/haushaltsinvestitionsbericht/
/example_data/bvwp_data/
/scripts/manipulate_geodata_and_db/datatransfer/config.env
/example_data/import/vzg/
/example_data/import/verkehrsinvestitionsbericht/
